services:
  spark-master:
    image: apache/spark:3.5.1-scala2.12-java11-ubuntu
    container_name: spark-master
    entrypoint:
      ["/opt/spark/bin/spark-class", "org.apache.spark.deploy.master.Master"]
    environment:
      - SPARK_MASTER_HOST=spark-master
    ports:
      - "7077:7077"
      - "8080:8080"
    networks:
      - spark-net

  spark-worker:
    image: apache/spark:3.5.1-scala2.12-java11-ubuntu
    entrypoint:
      [
        "/opt/spark/bin/spark-class",
        "org.apache.spark.deploy.worker.Worker",
        "spark://spark-master:7077",
      ]
    environment:
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
    networks:
      - spark-net
    depends_on:
      - spark-master

  jupyter:
    build:
      context: ./jupyter
      dockerfile: Dockerfile
    container_name: spark-notebook
    ports:
      - "8888:8888"
    environment:
      - PYSPARK_PYTHON=python3
      - PYSPARK_MASTER=spark://spark-master:7077
    depends_on:
      - spark-master
    networks:
      - spark-net

networks:
  spark-net:
